---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: "Desarrollador web en Ingeniería 4G",
        date: "Actualmente",
        description: "Desarrollo de aplicaciones web utilizando tecnologías como React, Next.js, Tailwind CSS, Node.js, Express, MongoDB y PostgreSQL.",
        link: "#"
    },
    {
        title: "Desarrollador web en GAD Ibarra",
        date: "Enero 2022 - Enero 2024",
        description: "Desarrollador de módulo de DECE para la institución educativa que maneja el GAD Ibarra, utilizando tecnologías como PHP, Scripcase y PosgrestSQL.",
    },
    {
        title: "Programador frontend en Greenetics S.A.",
        date: "Enero 2021 - Abril 2021",
        description: "Desarrollo del Sistema de Gestión de Seguridad de la Información (SGSI) para la empresa Greenetics S.A., aplicando los estándares de seguridad de la información (ISO 27001) y utilizando tecnologías como React, Redux y Node.js.",
    }
]
---

<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

